# Ignore everything in this directory
*
# Whitelist any directories
!*/
# Whitelist files
!.gitignore
!index.html
!InRelease
!Packages
!Packages.gz
!python-shukujitsu.list
!Sources
!Sources.gz
!Release
!Release.gpg
!*.buildinfo
!*.changes
!*.deb
!*.dsc
!*.orig.tar.[bgx]z
!*.debian.tar.[bgx]z
